<!DOCTYPE html>
<html>
  <head>
    <title>Library Card Registration</title>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" type="text/css" href="reginfo_style.css">
  </head>
  
  <body>
    <%= yield %>
  </body>
</html>


