<h1>Library Card Registration</h1>

<p>
   Please enter your information into the following form.
</p>

<form action="/info">
First name:<br>
<input type="text" name="firstname">
<br><br>
Last name:<br>
<input type="text" name="lastname">
<br><br><br>
<input type="radio" name="sex" value="male" checked>Male
&nbsp;&nbsp;&nbsp;&nbsp;
<input type="radio" name="sex" value="female">Female
<br><br><br>
<strong>Comments:</strong><br><br>
<textarea name="message" placeholder="" rows="10" cols="30">
Please tell us a little about yourself.
</textarea>
<br><br><br>
<strong>Select your favorite genre below:</strong>
<br><br>
<select name="genres">
<option value="mystery">Mystery</option>
<option value="fantasy">Fantasy</option>
<option value="crime">Crime</option>
<option value="nonfiction">Non-Fiction</option>
</select>
<br><br><br>
<strong>Please select one or more options below:</strong>
<br><br>
<input type="checkbox" name="likes" value="Books"> I like books
<br><br>
<input type="checkbox" name="likes" value="Movies"> I like movies
<br><br>
<input type="checkbox" name="likes" value="Magazines"> I like magazines
<br><br><br>
<input type="submit" value="Submit">
</form>
